<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="end">
      <a routerLink="/dados" class="user-data-link">Dados do Usuário</a>
      <ion-button (click)="sair()" color="danger">
        <ion-icon name="log-out"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="inicio-page">
  <div class="background-orb orb-one"></div>
  <div class="background-orb orb-two"></div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
